@{
    ViewBag.Title = "Informacje";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <b>Scrum Master</b> - Bartłomiej Balak<br/>
    <b>Product Owner</b> - Bartosz Burak<br />
    <b>Team member</b> - Michał Fijas<br />
    <b>Team member</b> - Dawid Stefański<br />
</p>
